[Unit]
Description=NodeBB forum for Node.js.
Documentation=http://nodebb.readthedocs.io/en/latest/
After=system.slice multi-user.target

[Service]
Type=simple
User=nodebb

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodebb

Environment=NODE_ENV=production
ExecStartPre=__NODEJS__
Environment="PATH=__ENV_PATH__"
WorkingDirectory=__PATH__
ExecStart=__NODEPATH__/node loader.js --no-daemon --no-silent
Restart=always

[Install]
WantedBy=multi-user.target
